/* Let's get into some CSS! God help me */

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    flex-basis: 400px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 350px;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 350px;
}

.hero,
a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-self: flex-end;
}

a {
    text-decoration: none;
}

h1, p, button {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-style: bold;
    color: #1F2937;
}

.section-four button,
.section-four {
    background-color: #3882F6;
}

.section-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

img {
  max-width: 400px;
  height: auto;
}