/* Let's get into some CSS! God help me */

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    padding: 20px 150px;
    gap: 80px;
    flex-basis: 400px;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.hero,
a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-self: flex-end;
}

a {
    text-decoration: none;
    padding: 5px 8px;
    border: #E5E7EB solid 1px;
    border-radius: 2px;
}

h1, 
.subtext,
button {
    margin-top: 5px;
}

button {
    padding: 10px 0;
    width: 100px;
    height: auto;
    background-color: #3882F6;
    border-radius: 2px;
    border: #E5E7EB solid 1px;
    color: #E5E7EB;
}

.hero h1 {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-style: bold;
    color: #1F2937;
    margin: 0;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon-one,
.icon-two,
.icon-three,
.icon-four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    text-align: center;
}

i {
    font-size: 50px;
    padding: 20px;
    border-radius: 2px;
    border: #3882F6 solid 1px;
    color: #1F2937;
}

.icon-text {
    margin-bottom: 0;
    margin-top: 10px;
}

.section-four {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.four-content {
    background-color: #3882F6;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 2px;
    font-size: 18px;
}

.sign-up {
    padding: 10px;
    border-radius: 2px;
    border: #E5E7EB solid 1px;
    color: #E5E7EB;
}

.section-three {
    background-color: #E5E7EB;
    padding: 20px 200px;
    text-align: right;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
  max-width: 400px;
  height: auto;
  border: #E5E7EB solid 1px;
  border-radius: 2px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}